body {
    background: -webkit-linear-gradient(top, rgba(255, 149, 124, 0.2), rgba(255, 149, 124, 0.2));
}
.card{
    background: -webkit-linear-gradient(top, rgba(255, 149, 124, 0.2), rgba(255, 149, 124, 0.2));
}
#photo3 {
    width: 75%;
}
.card-text {
    text-align: justify;
    font-family: 'Indie Flower', cursive;
}
.card {
    margin-bottom: 10px;
}
img {
    width: 60%;
    height: auto;
}
/***** BIBLIOGRAFIA *****/
.biblio {
    margin-bottom: 10px;
    width: 100%;
}

.biblio li {
    margin: 10px 10px;
}