body {
    background: -webkit-linear-gradient(top, rgba(255, 149, 124, 0.2), rgba(255, 149, 124, 0.2));
}

.card {
    background: -webkit-linear-gradient(top, rgba(255, 149, 124, 0.2), rgba(255, 149, 124, 0.2));
}

.card {
    margin-bottom: 10px;
}

.card-text {
    text-align: justify;
    font-family: 'Indie Flower', cursive;
}

#photo1 {
    width: 40%;
}

#photo2 {
    width: 75%;
}

img {
    width: 80%;
}

/***** BIBLIOGRAFIA *****/
.biblio {
    margin-bottom: 10px;
    width: 100%;
}

.biblio li {
    margin: 10px 10px;
}